 <%= render "shared/header" %>



<div class="main">
  <div class="side-bar">
    <div class="rooms">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
  </div>
  </div>

  <div class="main-task-chat">
   <div class="chat-header">
  <div class="left-header">
   <div class="header-title">
      <%= @room.name %>
  </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
  <div>
  <%= render "shared/main_chat" %>
  </div>
    <ul class="tasks">
     <li>
        <div class="task-info">
          <div class="task-title">
          </div>
          <div class="task-text">
          </div>          
          <div class="task-time">
          </div>
        </div>
     </li>
    </ul>
  
  </div>
</div>

<%= render "shared/footer" %>
