<div class="page">
<%= render "shared/header" %>


<div class="main">
  <div class="side-bar">
  <div class="side-bar-title">
  <h4 class="side-bar-text">ROOM</h4>
  </div>

  <div class="side-bar-main">
    <%= render "messages/side_bar" %>
  </div>
  </div>


  <div class="main-task-chat">
   <div class="task-chat">
    <div class="main-title">
  <h2> <%=@room.name%><br> TASK LIST</h2>
    <div class="create-btn" id="task-create-btn">
    new task
    </div>
  </div>

  <div id="new-task-create" >
  <div class="modal">
  <div class="close-btn">閉じる</div>
<%= form_with model: [@room, @task], class: 'task-form', local: true do |f| %>
  <div class="form-input">
    <div class="task-form-list">
    <%= f.label :task_name %><br>
    <%= f.text_field :task_name, class: 'form-task-name', placeholder: 'type a task name' %>
    
    </div>
    <div class="task-form-list">
    <%= f.label :state %><br>
    <%= f.select(:status, [['todo', 'todo'], ['doing', 'doing'], ['done', 'done']]) %>
    </div>
    <div class="task-form-list">
    <%= f.label :limit_time %><br>
   <%=f.date_field  :limit, class:'form-limit'%>
   </div>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
</div>
</div>







  <div class="my-tasks">
  <div class="task-bar">
       <div class="task-bar-info">
          <div class="task-status">
          status
          </div>
          <div class="task-time">
          limit
          </div>          
          <div class="task-title">
          title
          </div>
          <div class="task-management">
          manegement
          </div>
        </div>
  </div>
<ul class="tasks">
      <% @tasks.each do |task| %>
     <li class="task">
        <div class="task-info">
          <div class="task-status">
          <%= task.status%>
          </div>
          <div class="task-time">
          <%= task.limit%>
          </div>          
          <div class="task-title">
          <%= task.task_name%>
          </div>
          <div class="task-management">
          <ul class="task-edit-destroy">
           <li>
           <%= link_to '編集', edit_task_path(task), method: :get %>

           <!--<div class="edit-destroy task-edit-btn">編集</div>-->
           </li>
           <!--<li><div class="edit-destroy">消去</div></li>-->
            <%= link_to "削除", task_path(task), method: :delete %>

          </ul>
          </div>
        </div>
     </li>
<%end%>
</ul>
    <div>


    </div>
  </div> 
  </div>
  </div>
</div>
</div>

