 <div class="user-edit" >
<%= render "shared/second_header" %>
  <div id="edit-task">
  <div class="modal">
      <h2>Edit Account</h2>
      <h5>アカウントの編集</h5>
      <%= link_to "TOPページに戻る", "/", class: 'btn'%>
   <%= form_with model: current_user, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :nickname%>
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
</div>

</div>
</div>

<%= render "shared/footer" %>


