<div class="page">
<%= render "shared/header" %>


<div class="main">
  <div class="side-bar">
  <div class="side-bar-title">
  <h4 class="side-bar-text">ROOM</h4>
  </div>

  <div class="side-bar-main">
    <%= render "messages/side_bar" %>
  </div>
  </div>


  <div class="main-task-chat">
  <div class="task-chat">
  <div class="main-title">
  <h2> YOUR TASK LIST</h2>
 
  </div>

  <%# <div class="my-tasks"> %>
  <div class="task-bar">
         <div class="task-bar-info">
          <div class="tasks-info">
          <p>status</p>
          </div>
          <div class="tasks-info">
          <p>limit</p>
          </div>          
          <div class="tasks-info">
          <p>title</p>
          </div>
          <div class="tasks-info">
          <p>manage</p>
          </div>
        </div>
  </div>

<ul class="tasks">
      <% if @favorite_list.present? %>
         <% @favorite_list.each do |task| %>
     <li class="task">
     <%if task.status=="todo"%>
      <div class="task-info">
          <div class="tasks-infomation red">
          <%= task.status%>
          </div>
    <%elsif task.status=="doing"%>
     <div class="task-info">
          <div class="tasks-infomation green">
          <%= task.status%>
          </div>
    <%else %>
     <div class="task-info">
          <div class="tasks-infomation blue">
          <%= task.status%>
          </div>
    <%end%>
          <div class="tasks-infomation limit">
          <%= task.limit%>
          </div>          
          <div class="tasks-infomation title">
          <%= task.task_name%>
          </div>
          <div class="tasks-infomation manege">
           <%= link_to '編集', edit_task_path(task), method: :get, class:"edit-btn" %>
            <%= link_to "削除", task_path(task), method: :delete,  class:"destroy-btn"%>
              <% if Favorite.exists?(user: current_user, task_id: task.id)   %>
                <%= link_to favorite_path(task), method: :delete, class: "favorite-delete" do %>
                  <div class="i far fa-thumbs-up">
                    <span>roomに戻す</span>
                   </div>
                <% end %>
              <% end %>
          </div>
        </div>
     </li>
     <%end%>
<%end%>
</ul>
    

    </div>
  </div> 
  </div>
  </div>
</div>
</div>

