<div class="page">
<%= render "shared/header" %>


<div class="main">
  <div class="side-bar">
  <div class="side-bar-title">
  <h4 class="side-bar-text">ROOM</h4>
  </div>

  <div class="side-bar-main">
    <%= render "messages/side_bar" %>
    
  </div>
  </div>


  <div class="main-task-chat">
  <div class="task-chat">
  <div class="main-title">
  <h2> YOUR TASK LIST</h2>
  <div class="create-btn" id="task-create-btn">
    new task
    </div>
  </div>
  <div class="task-chat-selector">
   <div class="task-selector">
   <%= link_to "task", "#",class:"selector" %>
   </div>
   <div class="chat-selector">
   <%= link_to "chat", "#",class:"selector" %>
   </div>
   </div>


  <div class="my-tasks">
  
    <div class="task-bar">
         <div class="task-bar-info">
          <div class="tasks-info">
          <p class="task-status">status</p>
          </div>
          <div class="tasks-info">
          <p class="task-limit">limit</p>
          </div>          
          <div class="tasks-info">
          <p class="task-title">title</p>
          </div>
          <div class="tasks-info">
          <p class="task-manage">manage</p>
          </div>
        </div>
  </div>
   

    <ul class="tasks">
     <li class="task">
     <div class="task-info">
          <div class="tasks-infomation green">
          task-status
          </div>
          <div class="tasks-infomation limit">
          task-limit
          </div>          
          <div class="tasks-infomation title">
          task
          </div>
          <div class="tasks-infomation manege">
              <%= link_to '編集', "#", method: :get, class:"edit-btn" %>
            <%= link_to "削除","#", method: :delete,  class:"destroy-btn"%>
          </div>
        </div>
     </li>

     <ul class="app-task">
     このアプリでできること
     <li>ヘッダーの new roomボタンからルーム作成してユーザーで共有！</li>
     <li>共有したいタスクを new taskボタンから投稿！</li>
     <li>編集・消去ボタンを利用してタスク状況を管理！</li>
     <li>chatボタンを押すとルーム内でのchatが可能！</li>
     家族や仲間でタスクを共有していこう！
     </ul>

  
    
    
   
  </div> 
  </div>
  </div>
</div>
</div>